@forward "../tokens/_tokens" with (
    // Colors 

    //buttons
    $color-primary: #0E63E7,
    $color-secondary: #2a2857,
    $color-tertiary: #39cccc,

    // Texts
    $color-txt-dark: #2a2857,
    $color-txt-href: rgb(11, 79, 185),

);