@use "./base/reset";
@use "./base/typography";
@use "./base/helpers";
@use "./base/layout";
@use "./components/buttons";
@use "./components/inputs";
@use "./components/forms";
@use "./components/onboarding";
@use "./components/sidenav";

//@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  color: $color-txt-dark;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.txt-highlight {
  color: $color-primary;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}