// Colors 

//buttons
$color-primary: #0E63E7 !default;
$color-primary-hover: #012f78 !default;
$shadow-primary: 0 4px 10px -2px rgba(14,99,231,.4509803922),0 2px 2px -1px rgba(14,99,231,.3607843137),0 -1px 6px 0 rgba(9,7,76,.2509803922) inset;

$color-secondary: #2a2857 !default;
$color-secondary-hover: #2a2857 !default;

$color-tertiary: #39cccc !default;
$color-tertiary-hover: #39cccc !default;

$color-on-primary: white !default;
$color-on-secondary: white !default;

$color-left-pane: while !default;

// Texts
$color-txt-dark: #2a2857 !default;
$color-txt-href: rgb(11, 79, 185) !default;

//Spaces
$btn-default-space: 0.75rem !default;