@use "@theme-scss" as *;
@use "../abstracts/mixins" as *;

// Page structure
.page_lmnp {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .material-symbols-rounded {
    font-size: 1.5rem;
  }
}

.main_lmnp {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F7F9FC;
  position: relative;
}

.page_dashboard {
  position: relative;
}

.page {
  > .w > .c {
    overflow-x: visible;

    @include phone {
      padding: 0 14px;
    }
  }

  @include phone {
    overflow-x: hidden;
  }
}

.w .c {
  max-width: 1138px;
  margin: 0 auto;
}

// Site container
.site-container {
  position: relative;
  background: $sitebgcolor;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  height: 100vh;
  width: 100%;
  overflow: hidden auto;
  -webkit-transition: -webkit-filter .25s ease-in-out, -webkit-transform .35s ease-in-out;
  transition: -webkit-filter .25s ease-in-out, -webkit-transform .35s ease-in-out;
  transition: filter .25s ease-in-out, transform .35s ease-in-out;
  transition: filter .25s ease-in-out, transform .35s ease-in-out, -webkit-filter .25s ease-in-out, -webkit-transform .35s ease-in-out;

  @include phone {
    overflow: hidden;
    height: 100%;
  }
}

body.gray_bg .site-container {
  background: url(../img/marianne_bg_alpha.png) bottom right 5% $greybg no-repeat fixed;
}

// Main content areas
.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lmnp-nav {
  @include phone {
    max-width: 2px;
  }
}

.main_content {
  padding-right: 3rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop-sm-tablet-hoz {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @include tablet-ver {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @include phone {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  @include phone-tablet {
    padding-bottom: 7rem;
  }
}

.main_lmnp {
  flex-grow: 1;
  overflow: hidden auto;
  width: 100%;
}

// Page header
.page-header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  min-height: 120px;

  @include small-medium-laptop {
    min-height: 84px;
  }

  @include phone-tablet {
    min-height: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    background: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid $border_color;
  }
}

.mob-page-header-padding {
  width: 100%;
  height: 66px;
}

.page-title-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;

  @include phone-tablet {
    position: relative;
    justify-content: space-between;
  }
}

// Bottom bar
.bottom {
  z-index: 10;
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 293px;
  display: block;
  right: 0;
  padding: 0 0 14px 0;
  background-color: white;

  .row {
    width: 100%;
    justify-content: center;
  }
}

.enregistrer-step {
  flex-direction: row-reverse;
  align-items: center;
  margin: 20px 0;
}

// Dashboard background
.dashboard-bg-logo {
  width: 100%;
  height: 200px;
  margin-top: 10rem;
  text-align: center;

  img {
    filter: grayscale(1);
    opacity: 0.15;
    height: 50px;
  }
}

// Content wrapper
#contentms {
  overflow-y: hidden;
}

.scrollcompte {
  overflow-y: auto !important;
}

.c-ajax {
  height: 100%;
  width: 100%;
}

.topbar-lmnp {
  display: none !important;
}

// Mobile specific
@include phone-tablet {
  #bloc-login.page_lmnp, #bloc-insc.page_lmnp {
    height: calc(100% - 200px);
  }

  .crisp-client {
    display: none;
  }
}

// Habillage decorations
.habillage-top-left {
  width: 141px;
  height: 132px;
  position: absolute;

  > img {
    width: 141px;
    height: 132px;
  }

  @include phone {
    display: none;
  }
}

.habillage-top-left-list {
  width: 141px;
  height: 132px;
  position: fixed;
  top: 60px;

  > img {
    width: 141px;
    height: 132px;
  }

  @include phone {
    display: none;
  }
}

.habillage-top-right {
  width: 748px;
  height: 180px;
  position: absolute;
  right: 0;
  opacity: 0.58;
  z-index: 2;

  > img {
    width: 748px;
    height: 180px;
  }

  @include phone {
    display: none;
  }
}

.habillage-top-right-list {
  width: 748px;
  height: 180px;
  position: fixed;
  right: -14px;
  opacity: 0.58;
  top: 44px;

  > img {
    width: 748px;
    height: 180px;
  }

  @include phone {
    display: none;
  }
}
